.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-seerif; font-size: 16px; letter-spacing:0.03em; color: #757575;
}

.logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-dark {
    color: #000000;
    }

.page-header {

}

.page-navigation {
    font-family: 'Roboto'; font-style: normal; font-weight: 500; font-size: 14px; line-height: 16px; letter-spacing: 0.02em; color: #212121;
}

.hero-button {
    font-family: 'Roboto';font-weight: 700;font-size: 16px;line-height: 30px;letter-spacing: 0.06em;color: #FFFFFF; cursor: pointer;
    background: #2196F3; 
}
button:hover {
    background: #06c;
}
button:focus {
    background: #06c;
}

.hero {
    background: #2F303A;
}

.hero-h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

li {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #aea4a4;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #757575;
}